{% extends 'base.html' %}
{% load tags %}
{% block content %}

<section class="container">
    <div class="row my-5">
        <div class="col-12">
            <h1 class="mb-4" >Orders</h1>
            {% for item in orders %}
            <div class="card border-light mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{item.course.image.url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">Order ID: {{item.id}}</h4>
                                <h6 class="card-title">{{item.course.title}} by {{item.course.user}}</h6>
                                <h6>Purchased at {{item.created_at}}</h6>
                                <h6 class="fw-bol p-0 m-0" >
                                    <strong>
                                        BHD {{item.price}} 
                                    </strong>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}